.btn-primary {
    margin-top: 20px;
    color: var(--white-primary);
    background: var(--blue-primary);
    padding: 10px;
    border: 0;
    outline: none;
    cursor: pointer;
    &:disabled {
        opacity: 0.5;
    }
    &.row-button {
        padding: 4px;
        margin: 0;
    }
    &.commentButton{
      padding: 8px !important;
    }

}



