:root{
    --blue-primary: #178bf9;

    //White
    --white-primary: #f0f0f0;
    --white-secondary: #f8f8f8;

    // Gray Color
    --gray-primary: #808080;
    --gray-secondary-one: #dddde1;
    --gray-secondary-two: #b6b2b2;
    --gray-secondary-three: #f6f6f6;

    // Black
    --black-primary: #333333;

    // Red
    --red-primary: #ff0000;
}
