<div class="navbar">
    <div class="navbar-container">
        <a routerLink="/dashboard/pages" class="navbar-left-item">
            FLOCMS
        </a>
        <div class="navbar-right-item">
          <!-- <div  class="not-icon-container">
            <img (click)="getNotifications()" [src]="notificationIcon">
            <div *ngIf="showNotifications" class="not-details-container">
              <div *ngIf="notificationLoader" class="loader-container">
                <img [src]="loaderIcons" alt="">
              </div>
              <app-empty-state [emptyLabel]="'no results found'" *ngIf="emptyState && !notificationLoader"></app-empty-state>
              <div *ngFor="let item of notifications" class="not-details-item">
                <div (click)="goToItem(item.id)" class="txt">
                  {{item.message}}
                </div>
              </div>
            </div>
          </div> -->
            <div (click)="displaDetails()" class="avatar">
              <img [src]="avatar" alt="">
            </div>
            <div #avatarDetails class="avatar-details">
              <div class="avatar-details-container">
                <div class="right-avatar-details-item">
                  <img [src]="avatar" alt="">
                </div>
                <div class="left-avatar-details-item">
                  <div class="title">{{fullName}}</div>
                  <div class="subtitle">{{email}}</div>
                </div>
              </div>
              <div class="avatar-details-btn">
                <app-btn [btnText]="'Logout'" (clickEvent)="logout()"></app-btn>
              </div>
            </div>
        </div>
    </div>
</div>
