<div class="block">
    <div class="block-container" *ngFor="let item of Blocks ; index as i">
        <div class="block-title" >
           {{ item.blockName }}
           <div (click)="getPostOf(item.id , i)"> show pages </div>
        </div>
       
        <div *ngIf="postsBlocks && showIndex === i" class="block-pages">
            <div *ngFor="let y of postsBlocks">
              <div class="block-pages-item" (click)="openPageDetails(y)">
                <img *ngIf="y.postImage" [src]="y.postImage" />
                <div class="page-title">{{y.postTitle}}</div>
              </div>
            </div>
        </div>
    </div>
</div>
