<div class="block">
    <div class="block-container" *ngFor="let item of Blocks ; index as i">
        <div class="block-title" >
           {{ item.blockName }}
           <img src="../../../assets/icons/plus-blue.svg" (click)="getPostOf(item.id , i)">
        </div>
       
        <div *ngIf="postsBlocks && showIndex === i">
          <div *ngIf="loadImage" class="loader-page">
              <img  src="../../../assets/icons/loader.svg">
          </div>
          <div class="block-page">
            <div *ngFor="let y of postsBlocks">
              <div *ngIf="!loadImage" class="block-pages-item" (click)="openPageDetails(y)">
                <img *ngIf="y.postImage" [src]="y.postImage" />
                <div class="page-title">{{y.postTitle}}</div>
              </div>
              </div>
            </div>
        </div>
    </div>
</div>
