<div class="block">
    <div class="block-container">
        <div class="block-title">
            Block one
        </div>
        <div class="block-pages">
            <div class="block-pages-item">
                <img src="https://picsum.photos/200/300" alt="">
                <div class="page-title">Page one</div>
            </div>
            <div class="block-pages-item">
                <img src="https://picsum.photos/200/300" alt="">
                <div class="page-title">Page one</div>
            </div>
            <div class="block-pages-item">
                <img src="https://picsum.photos/200/300" alt="">
                <div class="page-title">Page one</div>
            </div>
            <div class="block-pages-item">
                <img src="https://picsum.photos/200/300" alt="">
                <div class="page-title">Page one</div>
            </div>
            <div class="block-pages-item">
                <img src="https://picsum.photos/200/300" alt="">
                <div class="page-title">Page one</div>
            </div>
            <div class="block-pages-item">
                <img src="https://picsum.photos/200/300" alt="">
                <div class="page-title">Page one</div>
            </div>
        </div>
    </div>
</div>
